@import 'fonts';

* {
  border-radius: 0px !important;
}

.text-center {
  text-align: center;

}

body {
    background: #ffffed !important;
}

#files-index {
  .page-link{
    color: #777;

  }

  .page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    background-color: rgba(249, 142, 142, 0.16);
  }
}

#searches-index {
  .page-link{
    color: #777;

  }

  .page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    background-color: rgba(249, 142, 142, 0.16);
  }
}
