<section id="searches-index" class="container">

    <h3>Avaialble Results for performed searches.</h3>

    <div class="panel-body">

          <div class="row" style="margin-bottom:20px;">

              <div class="col-xs-2">
                  <select ng-model="Searches.numberOfSearchesToDisplay" style="display: inline-block;" class="form-control input-sm inline-block">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                  </select>
              </div>

              <div class="col-xs-7"></div>

              <div class="col-xs-3">

                <div class="input-group pull-right">
                  <span class="input-group-addon" id="basic-addon1">
                    <i class="fa fa-search"></i>
                  </span>
                  <input type="text" class="form-control" placeholder="Search" ng-model="searchText" aria-describedby="basic-addon1">
                </div>

              </div>

          </div>

            <div class="row">
                <div class="col-xs-12">

                    <table class="table table-hover nowrap improved-table" width="100%">

                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th class="hidden-md-down">Requester</th>
                                <th class="hidden-md-down">Search Created</th>
                                <th class="hidden-md-down">Search Finished</th>
                                <th>Number of Results</th>
                                <th>Options</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th class="hidden-md-down">Requester</th>
                                <th class="hidden-md-down">Search Created</th>
                                <th class="hidden-md-down">Search Finished</th>
                                <th>Number of Results</th>
                                <th>Options</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            <tr dir-paginate="search in Searches.searches | itemsPerPage: Searches.numberOfSearchesToDisplay  | filter: searchText">

                                <td>{{ search.Name }}</td>
                                <td>{{ search.Description }}</td>
                                <td class="hidden-md-down">{{ search.Requester }}</td>
                                <td class="hidden-md-down">{{ search.RequestedAt | date }}</td>
                                <td class="hidden-md-down">{{ search.FinishedAt | date }}</td>
                                <td>{{ search.Count }}</td>
                                <td class="text-center">
                                    <a ui-sref="files({index : $index})">
                                      View Results
                                    </a>
                                </td>
                            </tr>


                            <!-- Check for Available Data -->
                            <tr ng-if="(earches.searches).length <= 0">
                                <td colspan="100%" class="text-center">No Data Available</td>
                            </tr>

                        </tbody>
                    </table>

                    <dir-pagination-controls template-url="./app/shared/pagination/pagination-view.html"></dir-pagination-controls>



                </div>
            </div>
        </div>
    </div>

</section>

</div>
</section>
</div>

</div>
